body{
    background-color: #46302E;
    color: #C52921;
    font-family: "Pirata One", "Times New Roman", serif;
}

h3{
  margin: .1em;
}
h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
}

#hobbie,#bio, #band{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
    text-align: center;
  font-size: 20pt;
}
#hero, footer{
  text-align: center;
  background-color: #332B2B ;
  border:10px solid #9B3934;
}
#gallery figure{
  border: 10px solid #9B3934;
  background-color: #332B2B ;
  text-align: center;
  padding: 30px;
  margin: 30px;



}
#gallery img{
  max-width: 100%;
}
#article{
  display: flex;
  flex-direction: column;
border: 10px solid #9B3934; 
background-color: #332B2B ;
padding: 30px;
margin: 30px;
text-align: left;
}
/*Drop Caps*/ 
#article div p:first-child:first-letter{
  color: #332B2B;
  background-color: #C52921;
  float:left;
  font-size: 3em;
  padding: 0.25em;
  margin-right: 0.25em;
  line-height: 0.65;
  border: 4px outset #332B2B;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}
/*tablet size*/
@media screen and (min-width:60em) {
  figure{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
  }
  figure img{
    max-width: 100%;
    margin:1rem;
  }
#article div{
  max-width: 100%;
  columns: 20rem;
}

}

/*large screen*/
@media screen and (min-width: 100em){
 #gallery{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 }
  hr{
    display: none;
  }
  #gallery h1{
    grid-column:1/-1;
  }
  figure{
    display: block;
  }
}